html{ 

  font-family: "Montserrat", sans-serif;
}

body{
    margin: 0;
    background-color: #d6d1d1;
}

header{
    background-color: rgb(72, 81, 204);
    color: #efefef;
    padding: 3rem 2rem;
}

header h1{
    font-size: 3rem;
    text-align: center;
}

.countainer{
    width: 400px;
    margin: 0 auto;
}

section article{
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.7);
}

section article h2, section article p{
    margin: 1rem;
}

footer{

    background-color: #575757;
    padding: 2rem;
    color: white;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
}

footer a{
    transition: color 0.3s ease;
    color: #efefef;
    text-decoration: none;
}

footer a:hover{
    color: rgb(41, 41, 171);
}